<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello world <%=user.prenom+user.nom %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quaerat magni dolorum neque distinctio cum praesentium quidem nam eius! Earum sequi harum atque consequatur aliquid sed est mollitia. Ad.</p>
</body>
</html>